{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-keywords') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% elif not md.check_acl('@modify-keywords') %}
  <div class="alert alert-info mt-1" role="alert">
    You do not have permission to change some component values as you are not the original uploader.
    Ask your vendor manager to add the QA ACL on your LVFS account if you need to modify these values.
  </div>
{% endif %}

<form id="modify" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
  <input form="modify" type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<div class="card">
  <div class="card-body">
<table class="table">
  <tr class="row table-borderless">
    <th class="col-3">ID</th>
    <td class="col">
{% if md.check_acl('@modify-appstream-id') %}
      <input type="text" form="modify" class="form-control fixed-width"
             name="appstream_id" value="{{md.appstream_id if md.appstream_id}}" />
{% else %}
      <code>{{md.appstream_id}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Name</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <input type="text" form="modify" class="form-control fixed-width"
             name="name" value="{{md.name if md.name}}" />
{% else %}
      <code>{{md.name_with_category}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Name Variant Suffix (optional)</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <input type="text" form="modify" class="form-control fixed-width"
             name="name_variant_suffix" value="{{md.name_variant_suffix if md.name_variant_suffix}}" />
{% else %}
      <code>{{md.name_variant_suffix or 'None'}}</code>
{% endif %}
    </td>
  </tr>
{% if md.branch or md.fw.vendor.branches %}
  <tr class="row">
    <th class="col-3">Branch</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <input type="text" form="modify" class="form-control fixed-width"
             name="branch" value="{{md.branch if md.branch}}" />
{% else %}
      <code>{{md.branch}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
  <tr class="row">
{% set tag = md.vendor_tag %}
    <th class="col-3">
{% if tag %}
      {{tag.name}}, e.g. <code>{{tag.example}}</code>
      {{ '(required)' if tag.enforce else '(optional)' }}
{% else %}
      Release tag, e.g. <code>N1CET75W</code> (optional)
{% endif %}
    </th>
    <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <input type="text" form="modify" class="form-control fixed-width {{ 'is-invalid' if tag and tag.enforce and not md.release_tag }}"
             name="release_tag" value="{{md.release_tag if md.release_tag}}" />
{% else %}
      <code>{{md.release_tag or 'None'}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Summary</th>
    <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <input type="text" form="modify" class="form-control fixed-width"
             name="summary" value="{{md.summary if md.summary}}" />
{% else %}
      <code>{{md.summary}}</code>
{% endif %}
    </td>
  </tr>
  <tr class="row">
    <th class="col-3">Release Date</th>
    <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <input
        class="form-control" form="modify" type="date" id="release_dt" name="release_dt"
        value="{{md.release_dt.strftime('%Y-%m-%d')}}" />
{% else %}
      <input
        class="form-control" form="modify" type="date" id="release_dt" name="release_dt"
        value="{{md.release_dt.strftime('%Y-%m-%d')}}" disabled />
{% endif %}
    </td>
  </tr>
{% if md.icon %}
  <tr class="row">
    <th class="col-3">Icon</th>
    <td class="col"><code>{{md.icon}}</code></td>
  </tr>
{% endif %}
{% if md.version %}
  <tr class="row">
    <th class="col-3">Version</th>
    <td class="col"><code>{{md.version_display}}</code></td>
  </tr>
{% endif %}
{% if md.release_download_size %}
  <tr class="row">
    <th class="col-3">Download Size</th>
    <td class="col">{{format_size(md.release_download_size)}}</td>
  </tr>
{% endif %}
{% if md.release_installed_size %}
  <tr class="row">
    <th class="col-3">Installed Size</th>
    <td class="col">{{format_size(md.release_installed_size)}}</td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-3">Metadata License</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <select form="modify" class="form-control {{ 'is-invalid' if not md.metadata_license }}" name="metadata_license_id">
        <option value="" {{ 'selected' if not md.metadata_license }}>Unknown</option>
{% for lic in metadata_licenses %}
        <option value="{{lic.license_id}}" {{ 'selected' if md.metadata_license and md.metadata_license.license_id == lic.license_id }}>
          {{lic.name}} [{{lic.value}}]
        </option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.metadata_license.value if md.metadata_license else 'Unknown'}}</code>
{% endif %}
    </td>
  </tr>
{% if md.appstream_type != 'generic' %}
  <tr class="row">
    <th class="col-3">Firmware License</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <select form="modify" class="form-control {{ 'is-invalid' if not md.project_license }}" name="project_license_id">
        <option value="" {{ 'selected' if not md.project_license }}>Unknown</option>
{% for lic in project_licenses %}
        <option value="{{lic.license_id}}" {{ 'selected' if md.project_license and md.project_license.license_id == lic.license_id }}>
          {{lic.name}} [{{lic.value}}]
        </option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.project_license.value if md.project_license else 'Unknown'}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
{% if md.priority %}
  <tr class="row">
    <th class="col-3">Priority</th>
    <td class="col">{{md.priority}}</td>
  </tr>
{% endif %}
{% if md.appstream_type != 'generic' %}
  <tr class="row">
    <th class="col-3">Protocol</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <select form="modify" class="form-control {{ 'is-invalid' if not md.protocol or md.protocol.value == 'unknown' }}" name="protocol_id">
{% for pr in protocols %}
        <option value="{{pr.protocol_id}}" {{ 'selected' if md.protocol and md.protocol.value == pr.value }}>{{ pr.name if pr.name else pr.value}}</option>
{% endfor %}
      </select>
{% else %}
    <code>{{md.protocol.value}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
{% if md.version %}
  <tr class="row">
    <th class="col-3">Version Format</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <select form="modify" class="form-control {{ 'is-invalid' if not md.verfmt }}" name="verfmt_id">
        <option value="" {{ 'selected' if not md.verfmt }}>Unknown</option>
{% for verfmt in verfmts %}
        <option value="{{verfmt.verfmt_id}}" {{ 'selected' if md.verfmt and md.verfmt.value == verfmt.value }}>
          {{ verfmt.name if verfmt.name else verfmt.value}}
{% if md.version.isdigit() %}
          e.g. {{verfmt.version_display(md.version)}}
{% endif %}
        </option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.verfmt.value if md.verfmt else 'Unknown'}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
  <tr class="row">
    <th class="col-3">Category</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <select form="modify" class="form-control {{ 'is-invalid' if not md.category }}" name="category_id">
        <option value="" {{ 'selected' if not md.category }}>Unknown</option>
{% for cat in categories %}
        <option value="{{cat.category_id}}" {{ 'selected' if md.category and md.category.value == cat.value }}>{{ cat.name if cat.name else cat.value}}</option>
{% endfor %}
      </select>
{% else %}
      <code>{{md.category.value if md.category else 'Unknown'}}</code>
{% endif %}
    </td>
  </tr>
{% if md.protocol and md.protocol.is_transport %}
  <tr class="row">
    <th class="col-3">Device Integrity</th>
      <td class="col">
{% if md.check_acl('@modify-keywords') %}
      <select form="modify" class="form-control {{ 'is-invalid' if not md.device_integrity }}" name="device_integrity">
        <option value="" {{ 'selected' if not md.device_integrity }}>Unknown</option>
        <option value="signed" {{ 'selected' if md.device_integrity == 'signed' }}>Device verifies cryptographic signature of firmware</option>
        <option value="unsigned" {{ 'selected' if md.device_integrity == 'unsigned' }}>No on-device cryptographic verification</option>
      </select>
{% else %}
      <code>{{md.device_integrity or 'None'}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
{% if md.screenshot_url %}
  <tr class="row">
    <th class="col-3">Screenshot URL</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <input form="modify" type="text" class="form-control" name="screenshot_url" value="{{md.screenshot_url if md.screenshot_url}}"/>
{% else %}
      <code>{{md.screenshot_url}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
{% if md.screenshot_caption %}
  <tr class="row">
    <th class="col-3">Screenshot Caption</th>
    <td class="col">
{% if md.check_acl("@modify-updateinfo") %}
      <input type="text" form="modify" class="form-control" name="screenshot_caption" value="{{md.screenshot_caption if md.screenshot_caption}}" />
{% else %}
      <code>{{md.screenshot_caption}}</code>
{% endif %}
    </td>
  </tr>
{% endif %}
</table>
{% if md.check_acl("@modify-updateinfo") %}
    <input form="modify" type="submit" class="card-link btn btn-primary" value="Modify"/>
{% endif %}
  </div>
</div>

{% if md.appstream_type != 'generic' %}
<div class="card mt-3">
  <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-2.png')}});"></div>
  <div class="card-body">
    <h2 class="card-title">
      Security
    </h2>
    <div class="card-text">
      <ul class="list-group">
{% for claim in (md.autoclaims+md.claims)|sort() %}
        <li class="list-group-item">
{% if claim.icon_name %}
          <img class="fa" src="{{url_for('cdn', filename='img/' + claim.icon_name + '-solid.svg')}}" width="22px" height="22px" />
{% endif %}
          {{claim.summary}}
{% if claim.url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{claim.url}}">More info</a></span>
{% endif %}
        </li>
{% endfor %}
{% if md.swids %}
        <li class="list-group-item">
          <img class="fa" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
          Includes Software Bill of Materials
          <span class="float-right">
            <a class="btn btn-sm btn-outline-info" href="{{url_for('components.route_swids', component_id=md.component_id)}}">
              More info
            </a>
          </span>
        </li>
{% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
