{% extends "default.html" %}
{% block title %}Component Shard Components{% endblock %}

{% block nav %}{% include 'shard-nav.html' %}{% endblock %}

{% block content %}

{% for appstream_id in unique_mds %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title"><code>{{appstream_id}}</code></h2>
    <ul class="list-group">
{% for md in unique_mds[appstream_id]|sort(attribute='name_with_vendor') %}
      <li class="list-group-item">{{md.name_with_vendor}}</li>
{% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

{% endblock %}
