{% extends "default.html" %}
{% block title %}Target{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% if fw.is_dirty %}
  <div class="alert alert-warning" role="alert">
    The <code>{{fw.remote.name}}</code> metadata is being regenerated.
  </div>
{% endif %}

<div class="card-deck">
  <div class="card {{'border border-dark' if fw.remote.name == 'private'}}">
    <h2 class="card-header card-title list-group-item-info">Private</h2>
    <div class="card-body">
      <p class="card-text">Firmware is only available to your specific user.</p>
{% if fw.remote.name != 'private' %}
{% if fw.check_acl('@promote-private') %}
      <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='private')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn-block btn btn-primary">Move here</button>
      </form>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
  <div class="card {{'border border-dark' if fw.remote.name.startswith('embargo')}}">
    <h2 class="card-header card-title list-group-item-success">Embargo</h2>
    <div class="card-body">
      <p class="card-text">Firmware is available to anyone in your vendor group.</p>
{% if not fw.remote.name.startswith('embargo') %}
{% if fw.check_acl('@promote-embargo') %}
      <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='embargo')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-primary btn-block">Move here</button>
      </form>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
  <div class="card {{'border border-dark' if fw.remote.name == 'testing'}}">
    <h2 class="card-header card-title list-group-item-warning">Testing</h2>
    <div class="card-body">
      <p class="card-text">Firmware is available to thousands of public testers.</p>
{% if fw.remote.name != 'testing' %}
{% if fw.check_acl('@promote-testing') %}
{% if fw.remote.name != 'stable' %}
{% if fw.problems|length == 0 %}
      <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='testing')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-primary btn-block">Move here</button>
      </form>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Unavailable due to problems
      </button>
{% endif %}
{% else %}
      <button class="card-link btn btn-block btn-primary" data-toggle="modal" data-target="#demoteTestingModal">
        Move here
      </button>
{% endif %}
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
  <div class="card {{'border border-dark' if fw.remote.name == 'stable'}}">
    <h2 class="card-header card-title list-group-item-danger">Stable</h2>
    <div class="card-body">
      <p class="card-text">Firmware is available to millions of public end-users.</p>
{% if fw.remote.name != 'stable' %}
{% if fw.check_acl('@promote-stable') %}
{% if fw.problems|length == 0 %}
      <button class="card-link btn btn-block btn-warning" data-toggle="modal" data-target="#promoteStableModal">
        Move here
      </button>
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Unavailable due to problems
      </button>
{% endif %}
{% else %}
      <button class="card-link btn btn-block btn-secondary" disabled>
        Permission denied
      </button>
{% endif %}
{% endif %}
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Actions</h2>
    <p class="card-text">
      Firmware can be pushed to a specific remote based on a predefined schedule.
      Only firmware with no detected problems will be auto-pushed.
    </p>
<table class="table">
{% if fw.actions %}
  <tr class="row table-borderless">
    <th class="col col-5">Timestamp</th>
    <th class="col col-5">Added</th>
    <th class="col">&nbsp;</th>
  </tr>
{% endif %}
{% for action in fw.actions %}
  <tr class="row">
    <td class="col col-5">
{% if action.dtime %}
      <strike>Move to {{action.remote.name}} on {{action.mtime.strftime('%F')}}</strike>
      <p class="text-secondary">(done {{action.dtime.strftime('%F %T')}})</p>
{% else %}
      Move to <code>{{action.remote.name}}</code> on {{action.mtime.strftime('%F')}}
{% endif %}
    </td>
    <td class="col col-5">
      {{action.ctime.strftime('%F %T')}} by <code>{{action.user.username}}</code>
    </td>
    <td class="col col-2">
{% if fw.check_acl("@modify") %}
      <form action="{{url_for('firmware.route_action_delete', firmware_id=fw.firmware_id, firmware_action_id=action.firmware_action_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if fw.check_acl("@modify") %}
  <form method="post" action="{{url_for('firmware.route_action_create', firmware_id=fw.firmware_id)}}" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-5">
      <input class="form-control" type="date" id="mtime" name="mtime" required>
    </td>
    <td class="col col-5">
      <select class="form-control" id="remote_id" name="remote_id" required>
        <option value="1">Stable</option>
        <option value="2">Testing</option>
        <option value="{{fw.vendor.remote_id}}">{{fw.vendor.display_name}} Embargo</option>
      </select>
    </td>
    <td class="col col-2">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
{% endif %}
</table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">History</h2>
<table class="table">
  <tr class="row table-borderless">
    <th class="col">Action</th>
    <th class="col">Timestamp</th>
    <th class="col">User</th>
    <th class="col">Target</th>
  </tr>
{% for ev in fw.events %}
  <tr class="row">
    <td class="col">{{ev.kind_display}}</td>
    <td class="col">{{ev.timestamp.strftime('%F %T')}}</td>
    <td class="col text-truncate">{{ev.user.username}}</td>
    <td class="col">
{% if ev.remote_old %}
      <span class="badge badge-{{ev.remote_old.color}}">{{ev.remote_old.name}}</span>
      →
{% endif %}
      <span class="badge badge-{{ev.remote.color}}">{{ev.remote.name}}</span>
    </td>
  </tr>
{% endfor %}
</table>
  </div>
</div>

{% if fw.revisions %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Revisions</h2>
<table class="table">
  <tr class="row table-borderless">
    <th class="col-2">Timestamp</th>
    <th class="col">Filename</th>
{% if fw.check_acl("@delete") %}
    <th class="col-2"></th>
{% endif %}
  </tr>
{% for rev in fw.revisions %}
  <tr class="row">
    <td class="col-2">{{rev.timestamp.strftime('%F %T')}}</td>
    <td class="col">
{% if fw.inhibit_download %}
      <code>{{rev.filename}}</code>
{% else %}
      <a href="{{rev.url}}"><code>{{rev.filename}}</code></a>
{% endif %}
    </td>
{% if rev.fw.check_acl("@delete") %}
    <td class="col-2">
{% if rev.immutable %}
        <form action="{{url_for('firmware.route_revision_modify', firmware_id=fw.firmware_id, firmware_revision_id=rev.firmware_revision_id, value=False)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-block btn-danger">Allow Cleanup</button>
        </form>
{% else %}
        <form action="{{url_for('firmware.route_revision_modify', firmware_id=fw.firmware_id, firmware_revision_id=rev.firmware_revision_id, value=True)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-block btn-warning">Preserve</button>
        </form>
{% endif %}
    </td>
{% endif %}
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endif %}

<!-- modal dialog -->
<div class="modal" id="demoteTestingModal" tabindex="-1" role="dialog" aria-labelledby="demoteTestingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoteTestingModalLabel">Important Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Demoting a firmware from stable to testing means that references to
          the file are removed from the LVFS metadata.
        </p>
        <p class="card-text">
          Unless the firmware is deleted, users could still automatically
          download the file until new metadata files are downloaded.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='testing')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Move back to testing</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="promoteStableModal" tabindex="-1" role="dialog" aria-labelledby="promoteStableModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promoteStableModalLabel">Important Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Pushing the firmware to the stable remote means it becomes available to
          millions of people.
        </p>
{% if fw.report_success_cnt %}
        <p class="card-text">
          Only tested firmware should be pushed to stable.
        </p>
{% else %}
        <div class="alert alert-warning" role="alert">
          <p class="card-text">
            <strong>This firmware has no uploaded success reports!</strong>
            Some operating systems may not offer this firmware as an update until a
            <a href="https://lvfs.readthedocs.io/en/latest/testing.html#signed-reports">fwupd success
            report</a> has been uploaded.
          </p>
        </div>
{% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_promote', firmware_id=fw.firmware_id, target='stable')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
{% if fw.report_success_cnt %}
          <button class="btn btn-primary">Move to stable</button>
{% else %}
          <button class="btn btn-warning">Move to stable</button>
{% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
