{% extends "default.html" %}
{% block title %}HSI Attributes{% endblock %}

{% block content %}

{% if infos|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">HSI Attributes</h2>
    <p class="card-text">
      No attributes have been created.
    </p>
  </div>
</div>

{% else %}

{% for info in infos %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      {{info.name}}
      <code class="float-right">{{info.appstream_id}}</code>
    </h2>
    <a class="card-link btn btn-info"
      href="{{url_for('hsireports.route_entry_show', info_id=info.hsi_report_info_id)}}"
      role="button">Details &raquo;</a>
  </div>
</div>
{% endfor %}

{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new HSI attribute</h2>
    <form method="post" action="{{url_for('hsireports.route_entry_create')}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group card-text">
        <label for="appstream_id">AppStream ID</label>
        <input class="form-control" type="text" id="appstream_id" name="appstream_id" placeholder="org.fwupd.hsi.Amd.SpiWriteProtection" required />
      </div>
      <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
  </div>
</div>

{% endblock %}
