{% extends "default.html" %}
{% block title %}HSI Report Attribute Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">HSI Report Attribute Details</h2>
<form method="post" action="{{url_for('hsireports.route_entry_modify', info_id=info.hsi_report_info_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="value">Appstream ID:</label>
    <input type="text" class="form-control" id="appstream_id" name="value" value="{{info.appstream_id}}" required />
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{info.name if info.name}}" required />
  </div>
  <div class="form-group">
    <label for="level">HSI level:</label>
    <input type="number" class="form-control" id="level" name="level" value="{{info.level}}" />
  </div>
  <div class="form-group">
    <label for="appstream_id_old">Old Appstream ID:</label>
    <input type="text" class="form-control" id="appstream_id_old" name="appstream_id_old" value="{{info.appstream_id_old if info.appstream_id_old}}" />
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete HSI Report Attribute?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is not recommended.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('hsireports.route_entry_delete', info_id=info.hsi_report_info_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
