{% extends "default.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% if server_warning %}
<div class="alert alert-warning mb-3" role="alert">
  <b>WARNING:</b>{{server_warning}}
</div>
{% endif %}

{% if g.user.needs_2fa %}
<div class="alert alert-warning mb-3" role="alert">
  <b>WARNING</b> This user account should to be secured with two factor
  authentication to comply with site policy.
  Please visit <a href="{{url_for('main.route_profile')}}">your profile</a> and
  set up 2FA as soon as possible.
  Some LVFS actions may be unavailable until this is completed.
</div>
{% endif %}

{% if not g.user.vendor.restrictions %}
<div class="alert alert-warning mb-3" role="alert">
  This account has no vendor restrictions defined and firmware will not be deployed onto hardware.
  Please open a confidential issue for the <a href="{{config['TICKET_URL']}}">LVFS administration team</a>
  with the output of <code>fwupdmgr get-devices</code> showing your device.
</div>
{% endif %}

{% if not g.user.vendor.do_not_track and download_cnt > 0 %}
<div class="card">
  <div class="card-body rounded-soft bg-gradient">
    <h5 class="text-white">Downloads over the last 30 days</h5>
<script src="{{url_for('cdn', filename='Chart.js')}}"></script><!-- https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js -->
<script>
Chart.defaults.global.animation = false;
</script>
<canvas class="rounded" id="metadataChartMonthsDays" width="1618" height="375" role="img"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartMonthsDays").getContext("2d");
var data = {
    labels: {{labels_days|safe}},
    datasets: [
        {
            label: "Firmware",
            borderWidth: 3,
            borderColor: "rgba(255,255,255,0.8)",
            backgroundColor: "rgba(255,255,255,0.15)",
            data: {{data_days|safe}}
        },
    ]
};

new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      legend: {
          display: false
      },
      scales: {
        xAxes: [{
          ticks: {
            fontColor: "rgba(255,255,255,0.7)",
            fontStyle: 600,
          },
          gridLines: {
            color: "rgba(255,255,255,0.1)",
            lineWidth: 1,
          },
        }],
        yAxes: [{
          ticks: {
            precision: 0,
            fontColor: "rgba(255,255,255,0.7)",
            fontStyle: 600,
            beginAtZero: true
          },
          gridLines: {
            color: "rgba(255,255,255,0.1)",
            lineWidth: 1,
          }
        }]
      }
    }
});

</script>
{% endif %}

<div class="card-deck mt-3">
{% if g.user.vendor.do_not_track %}
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-1.png')}});"></div>
    <div class="card-body position-relative">
      <h2 class="card-title">Do Not Track in use</h2>
      <p class="card-text">
        No download counts, telemetry or user reports are available for any
        firmware.
        Please consult your manager for more information.
      </p>
    </div>
  </div>
{% elif not g.user.vendor.do_not_track and g.user.vendor.fws|length %}
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-1.png')}});"></div>
    <div class="card-body position-relative">
      <h2 class="card-title">Downloads</h2>
      <p class="card-text">
        {{g.user.vendor.fws|length}} firmware files from {{g.user.vendor.display_name}}
        have been downloaded {{download_cnt}} times!
      </p>
{% if g.user.check_acl('@view-analytics') %}
      <a class="card-link text-nowrap" href="{{url_for('telemetry.route_show')}}">
        Telemetry <span class="font-weight-bold">›</span>
      </a>
{% endif %}
    </div>
  </div>
{% else %}
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-1.png')}});"></div>
    <div class="card-body position-relative">
      <h2 class="card-title">Lets upload firmware!</h2>
      <p class="card-text">
        We can start by uploading a cabinet archive and then the LVFS will
        automatically sign the firmware for you.
      </p>
      <p class="card-text font-weight-bold">
        Don't worry, uploading firmware doesn't make it public.
      </p>
      <a class="card-link text-nowrap" href="{{url_for('upload.route_firmware')}}">
        Upload <span class="font-weight-bold">›</span>
      </a>
    </div>
  </div>
{% endif %}
{% if devices_cnt > 0 %}
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-2.png')}});"></div>
    <div class="card-body position-relative">
      <h2 class="card-title">Devices</h2>
      <p class="card-text">You have {{devices_cnt}} different devices supported on the LVFS.</p>
      <a class="card-link text-nowrap" href="{{url_for('firmware.route_firmware')}}">
        See all <span class="font-weight-bold">›</span>
      </a>
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@partner') %}
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-2.png')}});"></div>
    <div class="card-body position-relative">
      <h2 class="card-title">Howdy partner!</h2>
      <p class="card-text">You can help us by uploading and downloading metadata from the LVFS.</p>
      <a class="card-link text-nowrap"
        href="{{url_for('mdsync.route_vendors', vendor_id_partner=g.user.vendor.vendor_id)}}">
        Show metadata <span class="font-weight-bold">›</span>
      </a>
    </div>
  </div>
{% endif %}
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-3.png')}});"></div>
    <div class="card-body position-relative">
      <h2 class="card-title">Users</h2>
      <p class="card-text">
        {{g.user.vendor.users|length}} users are in your organization.
      </p>
{% if g.user.vendor.users|length < 5 %}
      <p class="card-text">
        Users can have specific restrictions, for instance limiting analytics
        or moving firmware to stable.
      </p>
{% endif %}
{% if g.user.vendor.check_acl('@manage-users') %}
      <a class="card-link text-nowrap" href="{{url_for('vendors.route_users', vendor_id=g.user.vendor.vendor_id)}}">
        Manage <span class="font-weight-bold">›</span>
      </a>
{% endif %}
    </div>
  </div>
</div>

{% if fws_recent|length %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Recently uploaded firmware</h2>
    <div class="table card-body p-0 card-text">
{% for fw in fws_recent %}
  <div class="row table-borderless">
    <div class="col-sm-8 pt-1">
      <p class="list-group-item-title">
        {{fw.vendor.display_name}}
        {{fw.md_prio.name}} -
        <span class="text-muted">{{fw.version_display}}</span>
      </p>
    </div>
    <div class="col pt-1">
      <img class="fa" src="{{url_for('cdn', filename='img/' + fw.remote.icon_name + '-solid.svg')}}" width="24"
        alt="{{fw.remote.name}}"
        title="{{fw.remote.description}}"/>
    </div>
    <div class="col pt-1">
      <span class="text-muted">
        <img class="fa" src="{{url_for('cdn', filename='img/download-solid.svg')}}" width="24" alt="download icon"/>
        <span>{{format_humanize_intchar(fw.download_cnt)}}</span>
      </span>
    </div>
    <div class="col text-right pt-1">
      <a class="btn btn-info btn-block"
        href="{{url_for('firmware.route_show', firmware_id=fw.firmware_id)}}">Details</a>
    </div>
  </div>
{% endfor %}
      <a href="{{url_for('firmware.route_firmware')}}" class="card-link">Show all</a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
